<!DOCTYPE html>
<html ng-app='vgAddons' >

  <head>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.9/angular-cookies.min.js"></script>
    <script src="vgAddons.js"></script> 
    <link rel="stylesheet" href="less/style.css">
  </head> 

  <body>
    
    <div>
        <form vg-persist name="form1" >
            <div id="loginHeader">
                <h3> Login </h3>
            </div>
            <input type='text' ng-model='street' placeholder=" Street" required/>                    
            <br>
            <input type='text' ng-model='city' placeholder=" City" required/>
            <br>
            <input type='text' ng-model='state' placeholder=" State" required/>
            <br>
            <input type='text' ng-model='zip' placeholder=" Zip" required/>
            <br>
            <input type='submit' id="submitter"/>
        </form>
    </div>
    <div class="shape" id="shape1"></div>
    <div class="shape" id="shape2"></div>
    <div class="shape" id="shape3"></div>
  </body>

</html>
